ELASTIC_HOST=127.0.0.1:9200

DATA_API_MYSQL_HOST=localhost
DATA_API_MYSQL_NAME=baka
DATA_API_MYSQL_USER=
DATA_API_MYSQL_PASS=

ELASTIC_HOST=127.0.0.1:9200

MEMCACHE_HOST=127.0.0.1

# Email
EMAIL_HOST=smtp.mailgun.org
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM_PRODUCTION=noreply@mctekk.com
EMAIL_FROM_NAME_PRODUCTION="Baka Canvas Test"
EMAIL_FROM_DEBUG=noreply@mctekk.com
EMAIL_FROM_NAME_DEBUG="Baka Canvas Test"

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Beanstalk
BEANSTALK_HOST=127.0.0.1
BEANSTALK_PORT=11300
BEANSTALK_PREFIX=baka_
